<div class="row">
	<div class="small 12 large 12">
		<h1>Editing <%= "#{@section.name}" %></h1>

		<%= render 'form' %>

		<%= link_to 'Show', @section %> |
		<%= link_to 'Back', sections_path %>
	</div>
</div>
