<div class="row">
	<div class="small-12 large-12">
		<h1>Editing event</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @event, class: "button" %> |
		<%= link_to 'Back', events_path, class: "button secondary" %>
	</div>
</div>